@import "header.scss";
@import "footer.scss";
@import "global.scss";

body {
    margin: 0;
    display: flex;

    h1 {
        font-size: 40px;
        text-align: center;
        color: red;
    }
}